@font-face {
  font-family: "Photex-Nice-Nastaliq";
  
  src: url(https://cdn.jsdelivr.net/npm/photex-nice-nastaliq/fonts/photex-nice-nastaliq.woff2) format('woff2'),
       url(https://unpkg.com/photex-nice-nastaliq/fonts/photex-nice-nastaliq.woff2) format('woff2');
}
  /* CSS Aplly */
body {
    font-family: "Photex-Nice-Nastaliq";
}
.post-title {
  font-family: "Photex-Nice-Nastaliq", "JameelNooriNastaliq", "Mehr", "Nafees", "UrduKhushKhatiBook", "Jameel Khushkhat-LK", "Gulzar", "Noto Nastaliq Urdu", "Amiri";
}

.post-body {
      font-family: "Photex-Nice-Nastaliq", "JameelNooriNastaliq", "Mehr", "Nafees", "UrduKhushKhatiBook", "Jameel Khushkhat-LK", "Gulzar", "Noto Nastaliq Urdu", "Amiri";
}   

